$width: 500px;

.categories-container {
   padding: 150px 20px 20px 20px;

   .categories-list {
      display: grid;
      grid-template-columns: auto auto;

      .category-item {
         position: relative;
         text-align: center;
         margin: 20px;

         img {
            width: $width;
         }

         div {
            font-size: 30px;
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
            z-index: 1;
            color: #000;

            i {
               margin-right: 10px;
            }
         }
      }
   }
}
