$color: #ec407a;

header {
   background-color: #fff;
   padding: 10px 100px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9991;
   box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.05);

   .main-header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 3px #eee;

      & > div {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }

      img {
         margin-left: 20px;
      }
   }
   .second-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .links span {
         display: inline-block;
         padding: 20px;
         cursor: pointer;
      }

      .basket-container {
         position: relative;
         font-size: 25px;
         cursor: pointer;

         .counter {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -10px;
            background: $color;
            font-size: 14px;
            width: 27px;
            height: 27px;
            left: 13px;
            border-radius: 26px;
            color: #fff;
         }

         .basket-modal {
            font-size: 15px;
            color: #fff;
            position: absolute;
            left: 0;
            width: 400px;
            max-height: 424px;
            top: 30px;
            z-index: 10;
            overflow-y: auto;

            & > div:nth-child(odd) {
               background-color: #202124;
            }

            & > div:nth-child(even) {
               background-color: #303030;
            }

            .basket-item {
               display: flex;
               flex-direction: row;
               align-items: center;
               padding: 20px;

               .price {
                  color: #999;
               }

               .detail {
                  flex: 1;
                  padding: 20px;
               }

               .remove-button {
                  text-align: left;
                  font-size: 25px;
                  color: #eee;
               }

               .actions {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  border-radius: 5px;
                  width: 85.6px;
                  border: solid 1px #d4d3d3;
                  padding: 5px;
                  text-align: center;
               }

               &.summary {
                  padding: 20px 40px;
                  justify-content: space-around;
               }
            }

            img {
               width: 90px;
            }
         }
      }
   }

   a {
      text-decoration: none;
   }
}
