$width: 200px;
$color: #ec407a;

.products-container {
   padding: 150px 20px 20px 20px;

   .products-list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 10px;

      .product-item {
         position: relative;
         margin: 20px;
         cursor: pointer;
         box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
         text-align: center;

         .is-new {
            height: 30px;
            margin: 10px;

            div {
               width: 100px;
               color: $color;
               border: solid 1px $color;
               border-radius: 100px;
               padding: 5px;
            }
         }

         img {
            width: $width;
         }

         .title {
            text-align: center;
         }

         .volume {
            color: $color;
         }
         .detail {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-size: 30px;

            i {
               color: #0090ff;
            }

            div {
               padding: 10px;
            }

            .price {
               font-size: 20px;
               font-weight: bold;
            }
         }

         &:hover {
            box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);

            .price {
               color: #fff;
               background-image: linear-gradient(to right, #ff0056, #c50042);
               border-bottom-right-radius: 100px;
               border-top-right-radius: 100px;
               box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
            }
         }
      }
   }

   .pagination-container {
      direction: ltr;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      div {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 35px;
         height: 35px;
         border-radius: 50%;
         padding: 10px;
         margin: 5px;
      }

      div.active {
         color: #fff;
         background-color: $color;
      }
   }
}
